@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=Prompt:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=Montserrat:wght@300;600&family=Prompt:wght@400;500;600&display=swap');

:root {
  --branco-alice: #f0f8ff;
  --preto: #101010;
  --quantum: #0d0c11;
  --border-botao: rgb(134, 9, 9);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--quantum);
  height: 100vh;
  box-sizing: border-box;
}

.cabecalho {
  display: flex;
  align-items: center;
}

.first-name {
  text-align: center;
  width: 70%;
  margin-right: 20%;
}

.titulo-principal {
  color: var(--branco-alice);
  font-size: 2.9em;
  padding: 0;
  font-family: 'Prompt', sans-serif;
}

.m {
  color: rgb(209, 14, 14);
  font: bold;
}

.job {
  font-size: 1.2em;
  color: var(--branco-alice);
}

.social-media {
  display: flex;
  padding-top: 10px;
  justify-content: space-between;
  margin-left: 380px;
  margin-right: 380px;
}

.social-media__botao {
  color: var(--branco-alice);
  background-color: #2f2e2e00;
  text-align: center;
  width: 150px;
  padding: 7px;
  border-radius: 10px;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-decoration: none;
  border: solid rgb(209, 14, 14);
  border-width: 0.8px;
}

.social-media__botao:hover {
  background-color: rgba(166, 5, 5, 0.973);
  transition: 250ms linear;
}

.foto-pessoal {
  width: 220px;
  height: 220px;
  border-radius: 50%;
}

.border-imagem {
  border-radius: 50%;
  background-color: rgb(134, 9, 9);
  width: 220px;
  height: 220px;
  margin-top: 50px;
  margin-left: 10%;
  padding: 2px;
}

.secao-sobre {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.sobre {
  color: var(--branco-alice);
  text-align: justify;
  width: 1000px;
  margin: 0;
  font-family: 'Archivo', sans-serif;
}

.sobre h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 3.5em;
  color: var(--branco-alice);
}

.sobre p {
  font-size: 1.6em;
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
}

.secao-projetos {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.projetos {
  color: var(--branco-alice);
  text-align: justify;
}
