@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=Prompt:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&family=Montserrat:wght@300;600&family=Prompt:wght@400;500;600&display=swap');

:root {
  --branco-alice: #f0f8ff;
  --preto: #101010;
  --quantum: #0d0c11;
  --border-botao: rgb(134, 9, 9);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--quantum);
  /*height: 100vh;*/
  box-sizing: border-box;
  color: var(--branco-alice);
}

.cabecalho {
  display: flex;
  align-items: center;
  gap: 50px;
}

.first-name {
  width: 70%;
  margin-right: 20%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.titulo-principal {
  color: var(--branco-alice);
  font-size: 2.9rem;
  padding: 0;
  font-family: 'Prompt', sans-serif;
}

.m {
  color: rgb(209, 14, 14);
  font: bold;
}

.job {
  font-size: 1.2rem;
  color: var(--branco-alice);
  text-align: center;
}

.social-media {
  width: 50%;
  display: flex;
  padding-top: 10px;
  gap: 50px;
}

.social-media__botao {
  display: flex;
  justify-content: center;
  gap: 16px;
  color: var(--branco-alice);
  background-color: #2f2e2e00;
  text-align: center;
  width: 100%;
  padding: 7px;
  border-radius: 10px;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  text-decoration: none;
  border: 1px solid rgb(209, 14, 14);
}

.social-media__botao:hover {
  background-color: rgba(166, 5, 5, 0.973);
  transition: 250ms linear;
}

.icon {
  width: 25px;
  height: 25px;
}

.foto-pessoal {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.border-imagem {
  border-radius: 50%;
  background-color: rgb(134, 9, 9);
  width: 13.5%;
  height: 220px;
  margin-top: 50px;
  margin-left: 10%;
  padding: 2px;
}

.secao-sobre {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.sobre {
  color: var(--branco-alice);
  text-align: justify;
  align-items: center;
  width: 1000px;
  margin: 0;
  font-family: 'Archivo', sans-serif;
  display: flex;
  flex-direction: column;
}

.sobre h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 3.5rem;
  color: var(--branco-alice);
}

.sobre p {
  font-size: 1.6rem;
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
}

.secao-sobre__sobre__botoes {
  display: flex;
  justify-content: space-between;
  row-gap: 10%;
}

.secao-sobre__sobre__botao {
  color: var(--branco-alice);
  background-color: #2f2e2e00;
  text-align: center;
  width: 150px;
  padding: 7px;
  border-radius: 10px;
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-decoration: none;
  border: solid rgb(209, 14, 14);
  border-width: 0.8px;
}

.secao-projetos {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.projetos {
  color: var(--branco-alice);
  text-align: justify;
}

.rodape {
  background-color: #101010;
  text-align: center;
  padding: 15px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}

@media (max-width: 1400px) {
  .border-imagem {
    width: 15%;
  }
}

@media (max-width: 1201px) {
  .cabecalho {
    flex-direction: column;
  }

  .border-imagem {
    margin-left: 0;
    width: 17%;
    height: 170px;
  }

  .first-name {
    margin-right: 0;
  }
}

@media (max-width: 1050px) {
  .titulo-principal {
    font-size: 2.2rem;
  }
}

@media (max-width: 800px) {
  .border-imagem {
    width: 19%;
    height: 150px;
  }
}

@media (max-width: 480px) {
  .border-imagem {
    width: 25%;
    height: 140px;
  }
}

@media (max-width: 415px) {
  .first-name {
    flex-direction: column;
  }

  .social-media {
    margin-top: 10px;
    flex-direction: column;
    gap: 12px;
  }

  .sobre h1 {
    font-size: 2.5rem;
  }

  .sobre p {
    margin: 0 5% 0 5%;
  }
}
